<main class="about">
	<%= link_to "« take me back", memes_path %>
	<%= image_tag("the_fuck.svg",
								{"data-svg-fallback" => "#{image_path('memebet.png')}",
								 id: "the_fuck",
								 alt: "What the fuck is this shit?"})%>
	<div>
		<%= image_tag("memebet_about_bkg.png", class: "about_hero", alt: "memebet") %>
	</div>
	<section class="explanation">
		<p>Some folks think of memes as cute pictures of little things with text that makes them funny in that context. Other folks think of memes (and this is where the term came from) as indivisible atomic units of transmittable culture: the sociological equivalent of genes. This here is a proving ground for either meme. A battleground where hipster-dee-doodle’s digital swords may clash in a war of prediction and called-it-firstitude. You think that a song is going to be the shit in a week? Just you wait and see, no one knows about it yet - but it’s going to blow up. Yea, this is the place to make that bet.  You have to bet points on it, and if you can predict that it’s going to be a thing you get points back! Cool, huh?</p>
		<p>
		the deeper stuff is that this is going to be an archive of sorts. If everything goes well, then this will be the dynamic digital data-log of pervasive memes! Not just silly ones, but big events that actually change things. Do you think we are going to make it to mars before we destroy ourselves? That belief is a meme. Throw it up here. You get points if a bunch of people believe it, whether it’s true or not. I think it’s cool. I think it’s cool as fuck.</p>
	</section>
</main>