<section id="betModal<%=@meme.id%>" class="new_bet reveal-modal" data-reveal aria-labelledby="betModal" aria-hidden="true" role="dialog">
  <%= simple_form_for @meme do |f| %>
    <%= render 'shared/errors' %>

  <% end %>
</section>