<% if user_signed_in? %>
	<%= link_to("MAKEBET", new_meme_path) %>
	<% end %>

<%= render "shared/header" %>

<main class="front_page">
	<section class="medium-8 small-12 medium-offset-2 columns medium-collapse bet_box">

		<ul class= "index_memes">
			<% @memes.each do |meme| %>
		  	<%= render meme %>
			<% end %>
		</ul>

	</section>
</main>