// Place all the styles related to the memes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* SHARED HEADER */
header {
	text-align: center;
	.top_logo {
		width: 33%;
		max-width: 400px;
	}
}

/* NEW MEME */

.new_meme {
	padding: 10px;
	margin: 20px;
}

/* INDEX MEME */
.index_memes {
	margin: 0;
	padding: 20px;
	.bet_button {
		display: block;
		float: left;
	}
	li {
		padding-left: 10px;
		display: table-cell;
		width: 90%;
	}
	.meme_subscript {
		font-size: 10px;
	}
}

/* MEME FORM */
.new_meme {
	.maturation_date_wrapper {
		// select.select-date {
		  float: left;
		// }

	  select:first-of-type{
	    width: 30%;
	  }
	  select:nth-of-type(2){
	    width: 20%;
	  }
	  select:last-of-type{
	    margin-right: 0;
	    width: 30%;
	  }
	}
}